.bar {
	position: sticky;
	top: 0px;
    z-index: 6;
	background-color: #363636;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

#title {
    color: #f0eee4;
}

#administration {
    color: #ffc0cb;
}

.bar img {
    float: left;
    padding-right: 5px;
}

.title {
    color: #f0eee4;
    padding-left: 2px;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #212121;
    font-family: Monospace;
}

footer {
  padding: 5px;
  font-size: 8pt;
  font-weight: normal;
  background-color: transparent;
  text-align: center;
}

.links {
    color: #66667d;
    padding: 5px;
    padding-left: 2px;
}

.error {
    color: #ff0000;
}

.adminError {
    color: #ff0000;
}

.content {
	color: #f0eee4;
    padding: 5px;
    max-width: 1000px;
    margin: auto;
    text-align: center;
}

.content table {
    width: 100%;
}

.content td, th {
    padding-left: 10px;
    padding-right: 10px;
}

.adminLinks {
    width: 100%;
    margin: 0px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #363636;
}

.adminCreateForm {
    padding: 10px;
}

.adminWarning {
    color: #ffff00;
}

#sel {
    text-decoration: underline;
    color: #f0eee4;
}

a {
	color: #89bfff;
    text-decoration: none;
	transition: 0.1s;
}
a:hover {
	color: #ccccff;
    text-decoration: underline;
}
